.container {
    position: relative;
    bottom: 8px;
    width: 70vw;
    height: 94vh;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 0px;
    background: rgb(109,246,168);
    background: linear-gradient(90deg, rgba(109,246,168,1) 0%, rgba(173,255,210,1) 100%);
    border: 5px solid rgb(172, 217, 199);
    border-radius: 20px 0px 0px 0px;
}

.topMenu{
    background: rgb(255,251,251);
    background: linear-gradient(90deg, rgba(255,251,251,0.35591736694677867) 0%, rgba(255,252,252,1) 40%, rgba(255,255,255,0.3531162464985994) 100%);
    overflow: hidden;
    position: relative;
    top: 0px;
    width: 100%;
    height: 340px;
}

#watermelonClick {
    position: relative;
    left: 39px;
    bottom: 40px;
    width: 300px;
    height: auto;
    transition: bottom 0.3s;
    transition-timing-function: cubic-bezier(0.1, 1);
}

.melonHitbox {
    width: 240px;
    height: 240px;
    position: absolute;
    left: 75px;
    bottom: 130px;
    border-radius: 50%;
    z-index: 11;
}

.melonContainer {
    width: 540px;
    height: 340px;
    z-index: 10;
    position: absolute;
    left: -68px;
    top: 80px;
}

.melonButton {
    position: relative;
    left: 39px;
    bottom: 10px;
    width: 180px;
    height: auto;
}

.melonSquare {
    width: 400px;
    height: 400px;
    background: white;
    border-radius: 20px;
    position: relative;
    float: left;
    display: block;
}

.buttonHolder{
    position: relative;
    top: -10px;
}

.upgradeList {
    position: absolute;
    top: 340px;
    width: 400px;
    height: 368px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.3335084033613446) 47%, rgba(255,255,255,0.2046568627450981) 100%);
    bottom: 30px;
    display: block;
    z-index: 100;
}

.upgradeContainer {
    width: 370px;
    height: 300px;;
    margin-left: 15px;
    margin-top: 30px;
}

.upgrades {
    display: block;
    width: 350px;
    height: 300px;
    position: relative;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 20px;
    background: rgb(183, 232, 151);
    z-index: 10;
}

.melonCounter {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 150px;
    top: 23vh;
    left: 12vw;
    text-align: center;
    font-size: 60px;
    font-family: "Century Gothic";
}

.melonAmount {
    position: absolute;
    text-align: center;
    font-size: 100px;
    width: 600px;
    height: 120px;
    right: 10px;
    top: 4vw;
    display: inline-block;
    font-family: "Century Gothic";
}

.melonClickUpgrade{
    width: 250px;
    height: 30px;
    background: #ff6666;
    border-radius: 20px;
    z-index: 100;
    position: absolute;
    top: 38vh;
    left: 5vw;
}

.clickPrice{
    color: black;
    font-family: "Century Gothic";
    float: left;
    Font-weight: bold;
    position: relative;
    z-index: 1000;
    top: 30px;
    left: 2vw;
    font-size: 110%;
}

.clickAmount{
    position: relative;
    left: 40px;
    bottom: 18px;
    width: 200px;
    color: white;
    font-weight: bold;
    font-size: 120%;
    text-align: right;
    font-family: "Century Gothic";
}

.amountOfUpgrades {
    color: white;
    font-weight: bold;
    position: relative;
    bottom: 43px;
    left: 5px;
    font-size: 120%;
    font-family: "Century Gothic";
}

.melonPerSec {
    text-align: center;
    width: 120px;
    height: 20px;
    position: absolute;
    right: 17.5vw;
    bottom: 10vh;
    font-family: "Century Gothic";
}

.buildingContainer{
    position: relative;
    display: block;
    float: right;
    top: 2vh;
    width: 43vw;
    height: 48vh;
}

.building {
    background: white;
    margin-left: 20px;
    margin-bottom: 2vh;
    width: 270px;
    height: 100px;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
}

#buildingName{
    width: 200px;
    height: 30px;   
    font-family: "Century Gothic";
    font-weight: bold;
    position: relative;
    font-size: 130%;
    top: 2px;
    left: 5px;
    z-index: 10;
}

#addedMelonsPerSec{
    width: 100px;
    height: 30px;
    font-family: "Century Gothic";
    position: relative;
    top: -24px;
    float: right;
    right: 5px;
    font-size: 120%;
    color: darkgreen;
    text-align: right;
}

.price{
    width: 140px;
    height: 30px;
    font-family: "Century Gothic";
    font-weight: bold;
    position: relative;
    text-align: right;
    left: 120px;
    top: 47px;
}

.count{
    width: 100px;
    height: 30px;
    font-family: "Century Gothic";
    font-weight: bold;
    position: relative;
    font-size: 350%;
    color: rgba(0, 0, 0, 0.2);
    left: 80px;
    top: -25px;
}

#picture {
    width: 60px;
    height: 60px;
    position: relative;
    left: 10px;
    top: -60px;
    border-radius: 5px;
}